body, html {
  margin: 0;
  padding: 0;
  webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Color variables */
  --bg: #080808;
  --blue: #2361e0;
  --bhover: #194cb5;
  --black: #272727;
  --grey: #dcdcdc;
  --white: #fff;
}
::-webkit-scrollbar {
  border-radius: 2px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #30333c;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #83888c;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #93989c;
  border-radius: 2px;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
li {
  font-family: "Poppins", sans-serif;
  color: var(--white);
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
*:focus {
  outline: none !important;
}
button {
  outline: 0;
  border: none;
}
button:focus {
  outline: 0;
  border: none;
}
button:active {
  outline: 0;
  border: none;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0;
  padding-right: 0;
}
body {
  background-color: var(--bg);
}
#app {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header-wrapper {
  padding-top: 20px;
}
.header {
  display: block;
  width: 100%;
  height: 100%;
}
.header-sticky {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #080808f2;
  backdrop-filter: blur(6px);
  -webkit-box-shadow: 0 8px 12px #00000063;
  box-shadow: 0 8px 12px #00000063;
}
.current-movies {
  float: left;
  width: 0;
}
.profile-menu {
  float: right;
}
.menu-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 8px black;
  margin-right: 10px;
}
.dropdown-profile {
  min-width: 100%;
}
.dropdown,
.dropleft,
.dropright,
.dropup {
  z-index: 10000;
}
.profile-item {
  text-align: right;
  color: var(--grey);
}
.twitter-support {
  font-size: 0.8rem;
  margin-right: 8px;
}
.main-navbar {
  margin-top: 15px;
}
#btn-container {
  display: flex;
}
.filter-dropdown {
  text-align: left !important;
  line-height: 2.3;
}
.filter {
  display: inline-block;
  width: 100%;
  margin-right: 10px;
  font-weight: 400;
  color: var(--white);
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.filter:hover {
  background: #1d1d1d;
}
.filter-active {
  background: var(--blue);
}
.filter-active:hover {
  background: var(--blue);
}
.genre {
  width: 100%;
  text-align: left;
}
.dropdown-menu.show .btn-primary {
  width: 100%;
  text-align: left;
}
.current {
  display: initial;
  margin-left: 10px;
  margin-right: 8px;
  color: var(--blue);
}
#current {
  display: initial;
  margin-left: 10px;
  margin-right: 8px;
  color: var(--blue);
}
.dropdown-menu {
  min-width: 0 !important;
  background-color: var(--bg);
  text-align: center;
  width: 130px;
  line-height: 2.3;
}
.btn {
  display: inline-block;
  margin-right: 10px;
  color: var(--white);
}
.btn:hover,
.btn:focus {
  background-color: #1d1d1d;
  border-color: #1d1d1d;
  color: var(--white);
}
.btn-primary {
  background-color: var(--blue);
  border-color: var(--blue);
}
.btn-primary:hover {
  background-color: var(--bhover);
  border-color: #545b62;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #1d1d1d;
  border-color: #1d1d1d;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.searchContainer {
  float: right;
  background: #0e0e0ed9;
  border-radius: 30px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  margin-right: 1.75rem;
}
.searchContainer:focus-within {
  box-shadow: 0px 0px 8px #1f1f1f;
}
#search {
  border: none;
  background: transparent;
  color: var(--white);
}
.fa-search {
  color: #585858;
}
.movies {
  margin-top: 20px;
}
#search-ul {
  padding: 0;
  margin-bottom: 80px;
}
.filterDiv {
  width: 100%;
  display: none;
  list-style: none;
}
.show {
  display: block;
}
.item-poster {
  display: block;
  cursor: pointer;
  margin-bottom: -2px;
  transition: 0.3s ease-in-out;
  width: 100%;
  border-radius: 5px;
}
.item-poster:hover {
  filter: brightness(0.5);
}
.item-poster:hover ~ .rate-item {
  display: block;
}
.poster {
  width: 100%;
  box-shadow: 0px 0px 6px #080808;
  -webkit-box-shadow: 0px 0px 6px #080808;
  border-radius: 5px;
}
.rate-item {
  display: none;
  position: absolute;
  margin-top: -25px;
  margin-left: 2px;
}
.rate-item-text {
  font-size: 0.8rem;
  text-shadow: 0 0 5px black;
  font-weight: 600;
  background: #000000b0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}
.rate-item .fa-star {
  font-size: 0.6rem;
}
.movie-title {
  width: 100%;
  line-height: 30px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  color: white;
  font-weight: 600;
}
.year {
  float: left;
  color: #adadad;
  margin-top: -10px;
  font-size: 0.8rem;
  font-weight: 600;
}
/* Movie details */
.video-background {
  background: var(--bg);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  filter: blur(15px) brightness(0.25);
  -webkit-filter: blur(15px) brightness(0.25);
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}
.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
}
.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 322%;
    top: -122%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 322%;
    left: -122%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }
  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
.top {
  margin-top: 20px;
}
.back {
  background: none;
  font-size: 1.3rem;
  font-weight: 400;
}
.back:hover {
  color: var(--grey);
}
.fa-chevron-left {
  margin-right: 5px;
}
.favorites-container {
  float: right;
  cursor: pointer;
}
/* When movie is not marked as favorite */
.favorite {
  font-size: 1.4rem;
  color: var(--grey) !important;
}
/* When movie is marked as favorite */
.unfavorite {
  font-size: 1.4rem;
  color: #ff4343 !important;
}
.details-container {
  margin-top: 40px;
}
.poster-container {
  float: left;
}
.details-poster {
  display: block;
  width: 320px;
  height: 470px;
  background-size: 320px 470px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 12px #0000006b;
  box-shadow: 0 0 12px #0000006b;
}
.info-container {
  margin-top: 20px;
  float: left;
}
.tagline {
  padding-top: 5px;
  color: var(--white);
}
.details-info {
  display: inline-block;
  margin-top: 3px;
  color: var(--grey);
}
.separator {
  color: grey;
  font-size: 0.4rem;
  margin-left: 10px;
  margin-right: 10px;
}
.fa-star {
  color: #efc76d;
  margin-right: 5px;
  font-size: 0.7rem;
}
.overview {
  margin-top: 10px;
  color: #efefef;
  line-height: 1.7rem;
  width: 90%;
}
.streaming-container {
  position: absolute;
  bottom: 20px;
}
.watch-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
}
.fa-play {
  font-size: 0.9rem;
  margin-right: 15px;
}
.fa-download {
  font-size: 0.9rem;
  margin-right: 15px;
}
/* Streaming */
.background-movie {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(8px) brightness(0.3);
  filter: blur(30px) brightness(0.3);
}
.download-disabled {
  color: #ffffff6b !important;
  background: #7979799c;
  cursor: default;
}
.fa-cloud-download-alt {
  margin-right: 10px;
}
.movie-streaming-container {
  position: relative;
}
.status {
  margin-top: 40px;
}
.movie-info-title {
  color: var(--white);
  margin-right: 5px;
  display: inline-block;
}
.playerContainer {
  margin-top: 30px;
}
.player {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  -webkit-box-shadow: 0 0 12px #0000008f;
  box-shadow: 0 0 12px #0000008f;
  border-radius: 5px;
}
.share-buttons {
  margin-bottom: 15vh;
}
.mobile-download {
  display: none;
  margin-top: 50px;
  margin-bottom: 40px;
}
.twitter-share-button {
  margin-top: 5px;
}
.twitter-share-button:hover {
  background: #1b7fbd;
}
.whatsapp-share-button {
  margin-top: 5px;
}
.whatsapp-share-button:hover {
  background: #2a8835;
}
/* Footer */

.footer {
  position: fixed;
  background-color: #080808f2;
  backdrop-filter: blur(6px);
  bottom: 0;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 0 12px #00000063;
  box-shadow: 0 0 12px #00000063;
}
.footerContainer {
  margin-top: -5px;
}
.logo {
  color: var(--white);
  font-size: 23px;
  font-weight: 600;
  float: left;
  display: inline-block;
  background: top left url(logo.png) no-repeat;
  background-size: 40px 40px;
  padding-left: 40px;
  padding-top: 5px;
}
.infoContainer {
  float: right;
}
.info {
  padding-top: 22px;
  color: var(--white);
}
.love {
  color: #ff4343;
}
/* Responsive */
/* Mobile */
@media only screen and (max-width: 768px) {
  .searchContainer {
    float: right;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footerContainer {
    margin-top: 0px;
  }
  .footer-info-container {
    display: none;
  }
  .logoContainer {
    text-align: center;
  }
  .logo {
    float: none;
  }
  .profile-menu {
    margin-top: -5px;
  }
  .filterDiv {
    margin: 0.8rem;
  }
  .item-poster {
    width: 100%;
  }
  .movie-title {
    width: 100%;
  }
  .favorites-container {
    margin-top: 0px;
  }
  .details-container {
    text-align: center;
  }
  .poster-container {
    text-align: -webkit-center;
    float: none;
  }
  .details-poster {
    width: 220px;
    height: 310px;
    background-size: 220px 310px;
  }
  .overview {
    margin: 0 auto;
  }
  .streaming-container {
    position: relative;
    bottom: 0;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  .watch-button {
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 0px;
  }
  .mobile-download {
    display: block;
  }
  #downloadButton {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .profile-menu {
    margin-top: -5px;
  }
  .item-poster {
    width: 100%;
  }
  .overview {
    margin-top: 0px;
  }
  .info-container {
    margin-top: 5px;
  }
  .details-poster {
    width: 200px;
    height: 310px;
    background-size: 200px 310px;
  }
  .streaming-container {
    position: relative;
    bottom: 0;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .info-container {
    margin-top: 10px;
  }
  .details-poster {
    width: 260px;
    height: 380px;
    background-size: 260px 380px;
  }
  .streaming-container {
    position: absolute;
    bottom: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .item-poster {
    width: 100%;
  }
  .details-container {
    margin-top: 40px;
  }
  .poster-container {
    float: left;
  }
  .details-poster {
    display: block;
    width: 320px;
    height: 470px;
    background-size: 320px 470px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 12px #0000006b;
    box-shadow: 0 0 12px #0000006b;
  }
  .info-container {
    margin-top: 20px;
    float: left;
  }
  .overview {
    margin-top: 5px;
  }
  .details-info {
    display: inline-block;
    margin-top: 3px;
    color: var(--grey);
  }
  .streaming-container {
    position: absolute;
    bottom: 20px;
  }
  .watch-button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
