.titleBackground {
  height: 100vh;
  animation:kenburns-top 2s ease-out both;
}

@keyframes kenburns-top{0%{transform:scale(1) translateY(0);transform-origin:50% 16%}100%{transform:scale(1.25) translateY(-15px);transform-origin:top}}

.titleBackground::after {
  content: "";
  position: absolute;
  inset: 0px;
  opacity: 0;
  transition: opacity 500ms ease 0s;
}

.starIcon path {
  fill-rule: unset;
}

.playEpisodeIcon {
  transform: scale(3);
}

.iconContainer {
  transform: translate(-7rem, 0);
}